In [97]:
import os
import glob
import pandas as pd
import copy 
os.chdir("/Users/amber/Documents/SpatialAnalysis/python-twitter-examples-master/useable_data")

## Data Cleaning

In [98]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [99]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')

In [100]:
data = pd.read_csv('combined_csv.csv', dtype={'text': bytes})
data.head()

,user,text,latitude,longitude
0,NY_StudioSchool,Join us at the NYSS DUMBO Sculpture Studio and...,40.704102,-73.987068
1,delablanca4life,New look and journey â¤ğŸ™ğŸ¼â¤ .. Yesterday her dau...,40.679125,-73.973817
2,delablanca4life,New look and journey â¤ğŸ™ğŸ¼â¤ .. Yesterday her dau...,40.679125,-73.973817
3,iamjennifair,Mommy Iâ€™m on TV!!!! ğŸ˜©ğŸ˜ğŸ˜­ğŸ™ŒğŸ½ @brictv that is â¤ï¸â¤ï¸...,40.688340,-73.979140
4,stephenaaron05,I'm at MTA Subway - R Train - @nyctsubwayscoop...,40.690547,-73.981869

In [101]:
#data['text'] = data['text'].astype(str)

In [102]:
#data['text'] = data['text'].apply(lambda s: s[2:-3].replace(' ', ''))

In [103]:
unique_data = data.drop_duplicates(subset=['text'], keep='first')
unique_data.head()

,user,text,latitude,longitude
0,NY_StudioSchool,Join us at the NYSS DUMBO Sculpture Studio and...,40.704102,-73.987068
1,delablanca4life,New look and journey â¤ğŸ™ğŸ¼â¤ .. Yesterday her dau...,40.679125,-73.973817
3,iamjennifair,Mommy Iâ€™m on TV!!!! ğŸ˜©ğŸ˜ğŸ˜­ğŸ™ŒğŸ½ @brictv that is â¤ï¸â¤ï¸...,40.688340,-73.979140
4,stephenaaron05,I'm at MTA Subway - R Train - @nyctsubwayscoop...,40.690547,-73.981869
5,CetraRuddy,Every day is earth day when youâ€™re surrounded ...,40.691520,-73.990610

In [104]:
count_row = unique_data.shape[0]
count_row

24262

In [105]:
#unique = unique_data.drop(['Unnamed: 0'], axis=1)
#unique.head()

In [106]:
#Save uniqe tweets to csv 
unique_data.to_csv('unique_tweets.csv')

## Start Sentiment Analysis

In [107]:
#!pip install nltk
#!pip install textblob
#! pip install preprocessor

In [108]:
import nltk
import preprocessor as p
from textblob import TextBlob

# Sentiment Analysis_ TextBolb

### Example on how TextBolb works

In [109]:

from textblob import TextBlob
 
text = TextBlob("It was a wonderful movie. I liked it very much.")
 
print (text.sentiment)
print ('polarity: {}'.format(text.sentiment.polarity))
print ('subjectivity: {}'.format(text.sentiment.subjectivity))
'''
Output:
 
Sentiment(polarity=0.62, subjectivity=0.6866666666666666)
polarity: 0.62
subjectivity: 0.686666666667
'''

Sentiment(polarity=0.62, subjectivity=0.6866666666666666)
polarity: 0.62
subjectivity: 0.6866666666666666

'\nOutput:\n \nSentiment(polarity=0.62, subjectivity=0.6866666666666666)\npolarity: 0.62\nsubjectivity: 0.686666666667\n'

### Use the testset to text model

In [110]:
data= pd.read_csv('unique_tweets.csv')

In [111]:
data.head()

,Unnamed: 0,user,text,latitude,longitude
0,0,NY_StudioSchool,Join us at the NYSS DUMBO Sculpture Studio and...,40.704102,-73.987068
1,1,delablanca4life,New look and journey â¤ğŸ™ğŸ¼â¤ .. Yesterday her dau...,40.679125,-73.973817
2,3,iamjennifair,Mommy Iâ€™m on TV!!!! ğŸ˜©ğŸ˜ğŸ˜­ğŸ™ŒğŸ½ @brictv that is â¤ï¸â¤ï¸...,40.688340,-73.979140
3,4,stephenaaron05,I'm at MTA Subway - R Train - @nyctsubwayscoop...,40.690547,-73.981869
4,5,CetraRuddy,Every day is earth day when youâ€™re surrounded ...,40.691520,-73.990610

In [112]:
unique = data.drop(['Unnamed: 0'], axis=1)
unique.head()

,user,text,latitude,longitude
0,NY_StudioSchool,Join us at the NYSS DUMBO Sculpture Studio and...,40.704102,-73.987068
1,delablanca4life,New look and journey â¤ğŸ™ğŸ¼â¤ .. Yesterday her dau...,40.679125,-73.973817
2,iamjennifair,Mommy Iâ€™m on TV!!!! ğŸ˜©ğŸ˜ğŸ˜­ğŸ™ŒğŸ½ @brictv that is â¤ï¸â¤ï¸...,40.688340,-73.979140
3,stephenaaron05,I'm at MTA Subway - R Train - @nyctsubwayscoop...,40.690547,-73.981869
4,CetraRuddy,Every day is earth day when youâ€™re surrounded ...,40.691520,-73.990610

In [113]:
# compute sentiment scores (polarity) and labels
# 7 emotion level

#sentiment_scores_tb = [round(TextBlob(article).sentiment.polarity, 3) for article in unique['text']]
#sentiment_category_tb = ['positive' if score > 0 
                             else 'wpositive' if score > 0.3
                                 else 'spositive' if score > 0.6
                                     else 'wnegative'if score >-0.3
                                         else 'negative' if score > -0.6
                                             else ' snegative' if score > -1 
                                                  else 'neutral' 
                                                     for score in sentiment_scores_tb]

IndentationError: unexpected indent (<ipython-input-113-d5f813a4ccaa>, line 6)

In [114]:
sentiment_scores_tb = [round(TextBlob(article).sentiment.polarity, 3) for article in unique['text']]
sentiment_category_tb = ['positive' if score > 0 
                             else 'negative' if score < 0 
                                 else 'neutral' 
                                     for score in sentiment_scores_tb]

In [115]:
sentiment_category_tb.count('negative')

1956

In [116]:
sentiment_category_tb.count('positive')

13191

In [117]:
sentiment_category_tb.count('neutral')

9115

In [118]:
unique['sentimental label'] = sentiment_category_tb
unique['sentimental score'] = sentiment_scores_tb

In [119]:
#unique = data.drop(['Unnamed: 0'], axis=1)
unique.head()

,user,text,latitude,longitude,sentimental label,sentimental score
0,NY_StudioSchool,Join us at the NYSS DUMBO Sculpture Studio and...,40.704102,-73.987068,neutral,0.000
1,delablanca4life,New look and journey â¤ğŸ™ğŸ¼â¤ .. Yesterday her dau...,40.679125,-73.973817,negative,-0.282
2,iamjennifair,Mommy Iâ€™m on TV!!!! ğŸ˜©ğŸ˜ğŸ˜­ğŸ™ŒğŸ½ @brictv that is â¤ï¸â¤ï¸...,40.688340,-73.979140,negative,-0.433
3,stephenaaron05,I'm at MTA Subway - R Train - @nyctsubwayscoop...,40.690547,-73.981869,positive,0.136
4,CetraRuddy,Every day is earth day when youâ€™re surrounded ...,40.691520,-73.990610,negative,-0.250

In [120]:
# Add label to dataset 
unique.head()

,user,text,latitude,longitude,sentimental label,sentimental score
0,NY_StudioSchool,Join us at the NYSS DUMBO Sculpture Studio and...,40.704102,-73.987068,neutral,0.000
1,delablanca4life,New look and journey â¤ğŸ™ğŸ¼â¤ .. Yesterday her dau...,40.679125,-73.973817,negative,-0.282
2,iamjennifair,Mommy Iâ€™m on TV!!!! ğŸ˜©ğŸ˜ğŸ˜­ğŸ™ŒğŸ½ @brictv that is â¤ï¸â¤ï¸...,40.688340,-73.979140,negative,-0.433
3,stephenaaron05,I'm at MTA Subway - R Train - @nyctsubwayscoop...,40.690547,-73.981869,positive,0.136
4,CetraRuddy,Every day is earth day when youâ€™re surrounded ...,40.691520,-73.990610,negative,-0.250

In [121]:
unique.to_csv('unique_tweets_emotion.csv')

## Sentiment Analysis notes 

### Two approach:
### 1. Lexicon approach: tokenization 
### 2. Machine Learning Approach: use already labeled data

In [122]:
negative = unique.loc[unique['sentimental label'] == 'negative']
negative.head()

,user,text,latitude,longitude,sentimental label,sentimental score
1,delablanca4life,New look and journey â¤ğŸ™ğŸ¼â¤ .. Yesterday her dau...,40.679125,-73.973817,negative,-0.282
2,iamjennifair,Mommy Iâ€™m on TV!!!! ğŸ˜©ğŸ˜ğŸ˜­ğŸ™ŒğŸ½ @brictv that is â¤ï¸â¤ï¸...,40.688340,-73.979140,negative,-0.433
4,CetraRuddy,Every day is earth day when youâ€™re surrounded ...,40.691520,-73.990610,negative,-0.250
19,katewallich,Applications for our YC Workshop in NYC @markm...,40.686880,-73.978880,negative,-0.125
23,MarcHadfield,I'm at Brooklyn Botanic Garden - Visitor Cente...,40.669348,-73.962838,negative,-0.100

In [123]:
negative_1=negative.reset_index(drop=True)

In [124]:
negative_1.to_csv('negative.csv')

In [133]:
positive = unique.loc[unique['sentimental label'] == 'positive']
positive.head()

,user,text,latitude,longitude,sentimental label,sentimental score
3,stephenaaron05,I'm at MTA Subway - R Train - @nyctsubwayscoop...,40.690547,-73.981869,positive,0.136
10,pbump,A loyal reader asked how turnout rates from th...,40.672497,-73.956787,positive,0.111
12,DJNo3,This Sat the place to be is thesocialbutterfly...,40.681498,-73.965133,positive,0.400
13,delablanca4life,Hair cut for a Queen ğŸ‘‘\nI love this woman vivi...,40.679125,-73.973817,positive,0.125
14,delablanca4life,Still gagging but... My dear sister best frien...,40.691334,-73.982593,positive,1.000

In [136]:
positive_1=positive.reset_index(drop=True)

In [137]:
positive_1.to_csv('positive.csv')